.container-fluid{
  height: 99vh;
  width: 99vw;
}

.container{
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: grey 2px 2px 10px;
  background-color: lightpink;
}

/* The sidebar menu */
.sidenav {
  height: 99vh;
  width: 60px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}


